<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>
        {% block document_title %}Cantus Ultimus{% endblock %}
    </title>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en_US" />

    {# Replace .no-js with .js before loading the CSS #}
    <script>
        (function (html)
        {
            html.className = html.className.replace(/\bno-js\b/g, 'js');
        })(document.documentElement);
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/cantus-min.css">

    {% block head %}
    {% endblock %}

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/ico" href="/static/img/favicon.ico">
    <link rel="manifest" href="/static/salzinnes_minisite.webmanifest" />
    <link rel="apple-touch-icon" href="/static/img/favicon.ico" />
</head>
<body>
    <div id="menu-sidenav"></div>

    <div id="header-container">
        <div id="page-header">
            <div id="search-modal"></div>
            <div id="about-volpiano-modal"></div>
        </div>
    </div>

    {% block body %}
    {% endblock %}
</body>
</html>
